<template>
  <v-btn @click="$emit('handleClick')" color="primary" :disabled="disabled">
    <v-icon>{{ cameraBtnIcon }}</v-icon>
    {{ cameraBtnText }}
  </v-btn>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'CameraButton',
  props: ['isCameraActivated', 'disabled'],
  components: {},
  computed: {
    cameraBtnText() {
      return this.isCameraActivated ? 'Deactivate Camera' : 'Activate Camera';
    },
    cameraBtnIcon() {
      return this.isCameraActivated ? 'videocam_off' : 'videocam';
    }
  }
});
</script>

<style scoped></style>
