<template>
  <div>
    <lucid-app-file-input-camera
      v-if="isFileInputCamera"
      @handleTakePicture="handleTakePicture"
      @handleDeActivateCamera="handleDeActivateCamera"
      :disabled="disabled"
      capture="environment"
      :resolution="resolution"
      :quality="quality"
      ref="inputCamera"
    />
    <lucid-app-video-camera
      v-else
      @handleTakePictureClick="handleTakePictureClick"
      @handleDeActivateCamera="handleDeActivateCamera"
      :isCameraActivated="isCameraActivated"
      :resolution="resolution"
      :quality="quality"
      ref="videoCamera"
    />

    <lucid-app-full-screen-image
      :isShowFullScreen="isShowFullScreen"
      :canvas="canvas"
      @handleAccept="handleAccept"
      @handleRetake="handleRetake"
      @handleNext="handleNext"
      :quality="quality"
      ref="fullScreenPreview"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import LucidAppVideoCamera from './VideoCamera.vue';
import LucidAppFileInputCamera from './FileInputCamera.vue';
import LucidAppFullScreenImage from './FullScreenImage.vue';
import { isFileInputCamera } from '../helpers/browserHelper';

enum PreviewTypes {
  NONE = '',
  FULL = 'FULL',
  THUMB = 'THUMB'
}
interface CameraData {
  isShowFullScreen: boolean;
  canvas: HTMLCanvasElement;
}

export default Vue.extend({
  name: 'Camera',
  data: (): CameraData => ({
    isShowFullScreen: false,
    canvas: document.createElement('canvas')
  }),

  props: ['disabled', 'isCameraActivated', 'previewType', 'resolution', 'quality'],

  components: {
    LucidAppVideoCamera,
    LucidAppFileInputCamera,
    LucidAppFullScreenImage
  },
  computed: {
    isFileInputCamera(): boolean {
      return isFileInputCamera();
    }
  },

  methods: {
    handleDeActivateCamera() {
      this.$emit('handleDeActivateCamera');
    },

    handleTakePicture(imgSrc: string) {
      this.$emit('handleTakePicture', imgSrc);
    },

    handleTakePictureClick() {
      this.$emit('handleTakePictureClick');

      if (this.previewType === PreviewTypes.FULL) {
        const cameraView = (this.$refs.videoCamera as any).$refs.video as any;
        this.canvas.width = cameraView.videoWidth;
        this.canvas.height = cameraView.videoHeight;
        this.canvas.getContext('2d')!.drawImage(cameraView, 0, 0);

        this.isShowFullScreen = true;
      }
    },

    handleAccept() {
      this.isShowFullScreen = false;
      const imgSrc = this.canvas.toDataURL('image/jpeg', parseFloat(this.quality));
      this.$emit('handleAccept', imgSrc);
      this.canvas = document.createElement('canvas');
      this.$emit('handleDeActivateCamera');
    },

    handleRetake() {
      this.isShowFullScreen = false;
      this.canvas = document.createElement('canvas');
      this.$emit('handleRetake');
    },

    handleNext() {
      this.isShowFullScreen = false;
      const imgSrc = this.canvas.toDataURL('image/jpeg', parseFloat(this.quality));
      this.$emit('handleNext', imgSrc);
      this.canvas = document.createElement('canvas');
      this.$emit('handleDeActivateCamera');
    }
  }
});
</script>
