<template>
  <div id="fullscreen" v-if="isShowFullScreen">
    <v-img :src="imgSrc" v-on:error="onSrcError" aspect-ratio="1" contain ref="img">
      <template v-slot:placeholder>
        <v-layout fill-height align-center justify-center ma-0>
          <v-progress-circular indeterminate class="primary--text"></v-progress-circular>
        </v-layout>
      </template>
    </v-img>
    <v-btn id="accept" color="primary" round @click="$emit('handleAccept')">
      Use this picture
    </v-btn>
    <v-btn id="retake" @click="$emit('handleRetake')">
      Retake
    </v-btn>
    <v-btn id="next" color="secondary" @click="$emit('handleNext')">
      Add Information
    </v-btn>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'FullScreenPicture',
  data: () => ({
    isFailedImg: false
  }),
  props: ['canvas', 'isShowFullScreen', 'quality'],
  computed: {
    imgSrc(): string {
      return this.canvas.toDataURL('image/jpeg', parseFloat(this.quality));
    }
  },
  methods: {
    onSrcError() {
      this.isFailedImg = true;
    }
  }
});
</script>
<style scoped>
#fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#accept {
  position: fixed;
  bottom: 30px;
  right: calc(50% - 100px);
}

#retake {
  position: fixed;
  top: 30px;
  left: 30px;
}

#next {
  position: fixed;
  top: 30px;
  right: 30px;
}
</style>
