<template>
  <div id="fullscreen" v-show="isCameraActivated">
    <div id="camera">
      <canvas id="camera--sensor" ref="canvas"></canvas>
      <video ref="video" id="camera--view" autoplay playsinline></video>
      <v-btn id="camera--trigger" color="primary" round @click="handleTakePictureClick">
        <v-icon>add_a_photo</v-icon>Take Picture
      </v-btn>
      <v-btn id="camera--close" icon color="secondary" @click="deactivateCamera">
        <v-icon>close</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ResolutionNames, Resolutions } from '@/models/Resolutions';

export default Vue.extend({
  name: 'VideoCamera',
  data: () => ({}),
  props: ['isCameraActivated', 'resolution'],
  components: {},
  computed: {},
  watch: {
    isCameraActivated: {
      handler(newValue) {
        if (newValue) {
          this.activateCamera();
        } else {
          this.deactivateCamera();
        }
      },
      immediate: true
    }
  },
  methods: {
    handleTakePictureClick() {
      this.$emit('handleTakePictureClick');
      this.deactivateCamera();
    },

    activateCamera() {
      let constraints = this.getConstraints();
      (constraints as any).video.facingMode = 'environment';
      const video = this.$refs.video as any;
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
          video.srcObject = stream;
        });
      }
    },

    deactivateCamera() {
      this.$emit('handleDeActivateCamera');
      const video = this.$refs.video as any;
      if (video) {
        video.srcObject.getVideoTracks().forEach((track: any) => track.stop());
      }
    },
    getConstraints() {
      switch (this.resolution) {
        case ResolutionNames.QVGA:
          return {
            video: {
              width: { ideal: Resolutions.get(ResolutionNames.QVGA).width },
              height: { ideal: Resolutions.get(ResolutionNames.QVGA).height }
            }
          };
        case ResolutionNames.VGA:
          return {
            video: {
              width: { ideal: Resolutions.get(ResolutionNames.VGA).width },
              height: { ideal: Resolutions.get(ResolutionNames.VGA).height }
            }
          };
        case ResolutionNames.HD:
          return {
            video: {
              width: { ideal: Resolutions.get(ResolutionNames.HD).width },
              height: { ideal: Resolutions.get(ResolutionNames.HD).height }
            }
          };
        case ResolutionNames.FULLHD:
          return {
            video: {
              width: { ideal: Resolutions.get(ResolutionNames.FULLHD).width },
              height: { ideal: Resolutions.get(ResolutionNames.FULLHD).height }
            }
          };
        case ResolutionNames.FOURK:
          return {
            video: {
              width: { ideal: Resolutions.get(ResolutionNames.FOURK).width },
              height: { ideal: Resolutions.get(ResolutionNames.FOURK).height }
            }
          };
        case ResolutionNames.EIGHTK:
          return {
            video: {
              width: { ideal: Resolutions.get(ResolutionNames.EIGHTK).width },
              height: { ideal: Resolutions.get(ResolutionNames.EIGHTK).height }
            }
          };
      }
    }
  }
});
</script>

<style scoped>
#fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#camera,
#camera--view,
#camera--sensor {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#camera--trigger {
  position: fixed;
  bottom: 30px;
  left: calc(50% - 100px);
}

#camera--close {
  position: fixed;
  top: 30px;
  left: 30px;
}

.taken {
  height: 100px !important;
  width: 100px !important;
  transition: all 0.5s ease-in;
  border: solid 3px;
  border-color: var(--v-secondary-base) !important;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}
</style>
